.course-outline-header p,
.syllabus-header p {
    padding: 0;
    margin: 0;
}
table.with-borders {
    width: 100%;
    margin: 15px 0;
}
table.with-borders tr {
    border: 1px solid;
}
table.with-borders th,
table.with-borders td {
    border: 1px solid;
    padding: 3px;
}