{% extends '@ezdesign/pagelayout.html.twig' %}
{% block content %}
    {% if items is not empty %}
        <ul>
            {% for item in items.searchHits %}
                {% set contentInfo = item.valueObject.contentInfo %}
                {% set contentObject = item.valueObject.content %}
                <li>
                    <a href={{ path('ez_urlalias', {'contentId': contentInfo.id}) }}>{{ ez_content_name(contentInfo) }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
